<html>
    <header><title>Editing a user</title></header>
    <body>
        <h2> Editing a new user</h2>
        {{if .Id}} 
        User {{.Name}} was successfully updated
        <table border="1" align="center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Login</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>{{.Id}}</th>
                    <th>{{.Name}}</th>
                    <th>{{.Email}}</th>
                    <th>{{.Login}}</th>
                    <th>{{.Password}}</th>
                </tr>
            </tbody>
        </table>        
        {{else}} error saving changes
        {{end}}
        <br>
        {{template "footer"}}
    </body>
</html>