<html>
    <head><title>Library main page</title></head>
    <body>
        <table border="1">
            <thead>
                <tr>
                    <td>User Menu</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/addUser">Create User</a></td>
                    <td>Add user to users</td>
                </tr>
                <tr>
                    <td><a href="/allUsers">All Users</a></td>
                    <td>List of all users</td>
                </tr>
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </body>
</html>